*

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}